body{
    font-family: 'Droid Sans', sans-serif;
}

td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

.input-group {
    margin-top: 2%;
    margin-bottom: 2%;
}

svg {
    height: 200px;
}

td:first-of-type, td:first-of-type > div {
    height: 200px;
    width: 250px;
}

.gap{
    margin-top: 2%;
    margin-bottom: 2%;
}

.center{
    text-align: center;
}

h3{
    font-family: 'Droid Sans', sans-serif;
    color: red;
    font-size: 25%;
}